{% load static %}
<!--

 =========================================================
  Paper Kit 2 PRO - v2.3.0
 =========================================================

  Product Page: https://www.creative-tim.com/product/paper-kit-2-pro
  Copyright 2019 Creative Tim (https://www.creative-tim.com)

  Coded by Creative Tim

 =========================================================

  The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="blog/img/apple-icon.png">
    <link rel="icon" type="image/png" href="blog/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/paper-kit.min.css' %}">

    {% comment %} <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/paper-kit-2@2.1.0/assets/css/paper-kit.min.css" /> {% endcomment %}

        {% if title %}
          <title>Django Blog - {{ title }}</title>
        {% else %}
          <title>Django Blog</title>
        {% endif %}
  </head>

  <body class="blog-posts sidebar-collapse">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-danger fixed-top">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="{% url 'blog-home' %}" rel="tooltip" title="Excellent Blog" data-placement="bottom">
          Excellent Blog
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
    
      <div class="collapse navbar-collapse" data-nav-image="../assets/img/blurred-image-1.jpg" data-color="orange">
        <ul class="navbar-nav ml-auto">
              {% comment %} <li class="nav-item">
            <a class="btn btn-round btn-danger" href="#" target="_blank">
              <i class="nc-icon nc-single-02"></i> Register / Login
            </a>
          </li> {% endcomment %}
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown">
              Menu
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-danger" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" datat-scroll="true" data-id="#register" href="#">
                <i class="nc-icon nc-single-02"></i> Register / Login
                </a>
              <a class="dropdown-item" data-scroll="true" data-id="#home" href="{% url 'blog-home' %}">
                <i class="nc-icon nc-laptop"></i> Home
              </a>
              <a class="dropdown-item" data-scroll="true" data-id="#about" href="{% url 'blog-about' %}">
                <i class="nc-icon nc-badge"></i> About
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
    <div class="container">
     {% block content %} {% endblock %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>